# Environment
.env
.env.*
!.env.example

# Logs
*.log

# PHP / Laravel
/vendor
/storage/pail
/public/build
/public/hot
/.phpunit.cache
.phpunit.result.cache

# Node
/node_modules

# SQLite local database
/database/database.sqlite
/database/database.sqlite-journal
/database/sql/*.sql

# IDE / Editor
/.vscode
/.idea
/.fleet
/.zed
/.nova
.phpactor.json

# OS
.DS_Store
Thumbs.db

# Authentication
/auth.json

# Homestead
Homestead.json
Homestead.yaml

# Local database backup
schoolcms_db.sql
schoolcms_db baru.sql
graphify-out/

.opencode